body {
	margin: 0px;
	padding: 0px;
	background-image: url(../image/bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
}
#box1 {
	height: 150px;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../image/head_bg.jpg);
	background-repeat: no-repeat;
	color: #FFF;
	font-size: 36px;
}
#box2 {
	height: 40px;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	background-color: #03C;
	float: none;
}
#box2 a {
	text-align: center;
	display: block;
	float: left;
	height: 30px;
	width: 120px;
	color: #FFF;
	text-decoration: none;
	padding-top: 10px;
}

#box2 a:hover {
	color: #000;
}
#box3 {
	height: 720px;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}
#box3 #xiao1 {
	width: 350px;
	height: 650px;
	float: right;
	margin-top: 50px;
	padding-right: 80px;
}
#box3 #xiao1 #xx7 {
	height: 30px;
	width: 350px;
	text-align: center;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: #F9C;
}
#box3 #xiao1 #xx8 {
	height: 250px;
	width: 350px;
	background-repeat: no-repeat;
}
#box3 #xiao1 #xx9 {
	height: 370px;
	width: 350px;
	font-size: 16px;
}



#box3 #xiao2 {
	height: 100px;
	width: 480px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #090;
	color: #000;
}

#box3 #xiao3 {
	height: 200px;
	width: 480px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #093;
}
#box3 #xiao3 #xx1 {
	height: 150px;
	width: 240px;
	float: left;
	margin-top: 10px;
}
#box3 #xiao3 #xx2 {
	height: 150px;
	width: 240px;
	float: right;
	font-size: 12px;
	margin-top: 10px;
}


#box3 #xiao4 {
	height: 200px;
	width: 480px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #090;
}
#box3 #xiao4 #xx3 {
	float: left;
	height: 150px;
	width: 240px;
	margin-top: 10px;
}
#box3 #xiao4 #xx4 {
	float: right;
	height: 150px;
	width: 240px;
	margin-top: 10px;
	font-size: 12px;
}

#box3 #xiao5 {
	height: 200px;
	width: 480px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #090;
}
#box3 #xiao5 #xx5 {
	float: left;
	height: 150px;
	width: 240px;
	margin-top: 10px;
}
#box3 #xiao5 #xx6 {
	font-size: 12px;
	float: right;
	height: 150px;
	width: 240px;
	margin-top: 10px;
}
.文字 {
	font-size: 25px;
	color: #000;
}
#box4 {
	margin-right: auto;
	margin-left: auto;
	height: 300px;
	width: 960px;
}
#box4 #xiao6 {
	height: 270px;
	width: 480px;
	float: left;
}

#box4 #xiao6 #t1 {
	height: 120px;
	width: 140px;
	margin: 10px;
	float: left;
}
#box4 #xiao6 #t2 {
	height: 120px;
	width: 140px;
	margin-top: 10px;
	float: left;
}
#box4 #xiao6 #t3 {
	height: 120px;
	width: 140px;
	margin-top: 10px;
	float: left;
	margin-left: 10px;
}
#box4 #xiao6 #t6 {
	float: left;
	height: 120px;
	width: 480px;
}

#box4 #xiao6 #t4 {
	height: 120px;
	width: 140px;
	margin-top: 10px;
	float: left;
	margin-left: 10px;
}
#box4 #xiao6 #t5 {
	float: left;
	height: 120px;
	width: 140px;
	margin-top: 10px;
	margin-left: 10px;
}
#box5 {
	height: 50px;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	background-color: #06C;
	padding-top: 20px;
}
#box5 a {
	color: #000;
	font-size: 15px;
}
